workflows/http-status-validator.json
{
  "name": "HTTP Status Validator",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check-status-200",
      "name": "Status 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "largerEqual",
              "value2": 400
            },
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "smaller",
              "value2": 500
            }
          ]
        }
      },
      "id": "check-status-4xx",
      "name": "Status 4xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Request successful - Status 200"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "statusCode",
              "value": "={{ $json.statusCode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "success-handler",
      "name": "Success Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "client_error"
            },
            {
              "name": "message",
              "value": "Client error - Status 4xx"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "statusCode",
              "value": "={{ $json.statusCode }}"
            },
            {
              "name": "error_type",
              "value": "={{ $json.statusCode === 404 ? 'Not Found' : $json.statusCode === 401 ? 'Unauthorized' : $json.statusCode === 403 ? 'Forbidden' : 'Client Error' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-4xx-handler",
      "name": "4xx Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 350]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "other_error"
            },
            {
              "name": "message",
              "value": "Other HTTP status or error"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "statusCode",
              "value": "={{ $json.statusCode || 'unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "other-error-handler",
      "name": "Other Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1250, 350]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Status 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 200?": {
      "main": [
        [
          {
            "node": "Success Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status 4xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 4xx?": {
      "main": [
        [
          {
            "node": "4xx Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Handler": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4xx Error Handler": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Other Error Handler": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
